body {
	border:0px;
	padding:0px;
	background-color:silver;

}

#container {
	width:800px;
	height:500px;
	background-color:white;	
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.pane {
	float:left;
	width:35%;
	height:80%;
	border:2px solid black;	
}

#leftpane {
	position:absolute;
	top:50%;
	left:33%;
	transform:translate(-70%,-50%);
}

#rightpane {
	position:absolute;
	top:50%;
	left:67%;
	transform:translate(-30%,-50%);
}

#or,img.image {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

#rank {
	position:absolute;
	top:95%;
	left:50%;
	transform:translate(-50%,-50%);
	text-decoration:none;
	color:Black;
}
